li {
  background-color: #a8f9ff;
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
#balls {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
}

.hidden {
  display: none;
}
