body {
  background-image: url("Lotto-Ft.jpg");
}

h1 {
  background-color: #faa6ff;
  border: 15px solid #0213f7;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

#start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#next-ball-btn {
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#ball-call.hidden {
  display: none;
  border: none;
}
button {
  margin: 20px;
  border: 10px solid #f70202;
  padding-left: 10px;
  padding-right: 10px;
}

#lets-play-bingo-btn {
  font-size: 100px;
}

#ball-call {
  background-color: #faa6ff;
  list-style-type: none;
  border: 15px solid #0213f7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-width: 140px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

#current-ball {
  margin-left: 23px;
  background-color: #a8f9ff;
  padding: 20px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  background-color: #a8f9ff;
  padding: 15px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.hidden {
  display: none;
  border: none;
}
#balls.hidden {
  display: none;
  border: none;
}

#balls {
  list-style-type: none;
  background-color: #faa6ff;
  border: 15px solid #0213f7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 10px;
}

footer {
  background-color: #faa6ff;
  border: 5px solid #0213f7;
  max-width: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}
